@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    margin : 0;
    padding : 0;
    font-family: "poppins";
    overflow-x: hidden;
}

body{
    background-color: rgb(250, 249, 249);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.d-flex {
    background-image: url("car.png");
    background-size: cover;
    height: 60vh;
    justify-content: center;
    align-items: end;
    padding: 50px;
    box-shadow: rgb(62, 60, 60) 5px 5px 15px 15px;
}

.title {
    text-align: left;
    color: #fff5d8;
    padding: 10px 0px 20px 0px;
    margin: 0;
    width: 100%;
    max-width: 1000px;
}

h1 {
    font-weight: 700;
    font-size: 85px;
}

.contain {
    margin: 100px 0 60px 0; 
    border-radius: 15px;
    background-color: white;
    padding: 25px 10px;
    font-size: 15px;
    max-width: 1000px;
    width: 100%;
    box-shadow: rgb(62, 60, 60) 10px 10px 10px 10px;
}

label {
    font-weight: 600;
}

form {
    padding: 10px;
    font-family: poppins;
}

.form-control:focus {
    border-color: inherit;
    box-shadow: none;
    border: solid 3px rgb(62, 60, 60);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 15px;
    color: black;
    font-weight: 600;
}

.msrp {
    color: white;
    font-size: 32px;
    font-weight: 600;
    background-color: rgb(17, 200, 17);
    border-radius: 25px;
    margin: 20px;
    padding: 15px;
    height: 22vh;
}

.min {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin: 20px;
    background-color: rgb(17, 200, 157);
    border-radius: 25px;
    padding: 15px;
    height: 22vh;
}

.max {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin: 20px;
    background-color: rgb(200, 84, 17);
    border-radius: 25px;
    padding: 15px;
    height: 22vh;
}

.result_main {
    background-color: rgb(9, 174, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72%;
    border-radius: 10px;
    padding: 10px 5px;
}

.result_min {
    background-color: rgb(7, 146, 114);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72%;
    border-radius: 10px;
    padding: 10px 5px;
}

.result_max {
    background-color: rgb(187, 59, 4);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72%;
    border-radius: 10px;
    padding: 10px 5px;
}

.row h2 {
    height: 32px;
    margin-bottom: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0 15px;
}

.submit{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 132, 255);
    padding: 10px;
    width: 100%;
}
