<html>
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Prédiction du prix de vente d'une voiture</title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    </head>
    <body>
        <div class="containers-fluid d-flex">
            <div class="row title">
                <h1>Car's Price Predictor</h1>
            </div>
        </div>
        <div class="container">
            <div class="row contain">
                <div class="col-md-12 col-12">
                    <form action="/predict" method="POST">
                        <div class="row">
                            <div class="col-6">
                                {% for key in session.data.keys() %}
                                    <div class="mb-3">
                                        <label for="{{ key }}" class="form-label">{{ key }} :</label>
                                        <input list="{{key}}" class="form-control" name="{{ key }}" placeholder="{{session.data[key][0]}}" required>
                                        <datalist id="{{ key }}">
                                            <!--option selected disabled hidden>{{ key }}</option-->
                                            {% for val in session.data[key] %}
                                                <option value="{{ val }}">{{ val }}</option>
                                            {% endfor %}
                                        </datalist>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-6">
                                {% for num in session.nums %}
                                    <div class="mb-3">
                                        <label for="{{ num }}" class="form-label">{{ num }} :</label>
                                        <input type="number" class="form-control" name="{{ num }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row button">
                            <button type="submit" class="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 pred">
                    <div>
                        <div class="row-2 msrp">
                            <h2>MSRP</h2>
                            <div class="result_main">
                                {% if session.price != 0.0 %}
                                    {{ session.price|round(2) }} $
                                {% endif %}
                            </div>
                        </div>
                
                        <!--div class="row interval">
                            <div class="col min">
                                <h2>Minimum</h2>
                                <div class="result_min">
                                    {% if session.max != 0.0 %}
                                        {{ session.min|round(2) }} $
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col max">
                                <h2>Maximum</h2>
                                <div class="result_max">
                                    {% if session.max != 0.0 %}
                                        {{ session.max|round(2) }} $
                                    {% endif %}
                                </div>
                            </div>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>&copy NHM 2025</p>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>